*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 300px;
}
.wiggle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.container{
    padding: 100px 50px;
    border: 1px solid #eee;
    border-radius: 5px;
}
.input-box{
    display: flex;
    margin: 15px;
    width: 400px;
    padding: 6px;
    border-radius: 15px;
    border: 1px solid #e2e2e2;
}
.input-box i{
    flex: 1;
}
.input-box input{
    flex: 7;
    border: none;
    outline: none;
}

button{
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}